* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left, rgb(221, 134, 134), rgb(75, 37, 37));
}

p {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

h1 {
    margin: 170px auto 20px auto;
    text-align: center;
    font-size: 45px;
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

label {
    font-size: 20px;
}

#username,#password {
    margin: 5px auto 10px auto;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 25px;
}

form {
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    font-weight: bold;
    padding: 50px;
    background-color: rgb(76, 74, 71);
    max-width: 400px;
    height: 300px;
    border-radius: 10px;
}

button {
    margin: 20px auto 0 auto;
    padding: 5px;
    width: 300px;
    display: block;
}